/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* basic styles */

section {
    padding: 4rem 0 3rem;
}
img {
    width: 100%;
}
body {
    height: 100%;
    position: relative;
    color: #fbfeff;
    background: #171b44;
}

/* Header  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(29 35 82 / 50%);
    z-index: 200;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
header.shadow {
    background: #1d2352;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.nav {
    max-width: 1200px;
    margin: auto;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
}
.logo {
    font-family: 'Anta';
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fbfeff;
    font-size: 1.9rem;
}
.logo span {
    color: #ff4d55;
}
.navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1.2rem;
       -moz-column-gap: 1.2rem;
            column-gap: 1.2rem;
}
.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1.2rem;
       -moz-column-gap: 1.2rem;
            column-gap: 1.2rem;
}
.nav-link {
    font-family: 'Orbitron';
    position: relative;
    font-size: 1rem;
    color: #fbfeff;
    font-weight: 500;
}
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 3px;
    background: #ff4d55; 
}
.nav-link:hover::after {
    width: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.login-btn {
    font-family: 'Poppins';
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fbfeff;
    background: #ff4d55;
    font-weight: 500;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5%;
}
.login-btn .bx {
    font-family: 'Poppins';
    font-size: 1.1rem;
    font-weight: 600;
}
.login-btn:hover {
    background: #f8646c;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
/* Drop Login */
.drop-login {
    position: absolute;
    top: 115%;
    right: 0;
    width: 231px;
    height: auto;
    background: #1d2352;
    -webkit-box-shadow: 4px 4px 10px 2 px rgb(23 27 38 / 60%);
            box-shadow: 4px 4px 10px 2 px rgb(23 27 38 / 60%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.drop-login .drop-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 15px;
}
.drop-login .drop-item:Hover {
    background: #ff4d55;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.drop-login .drop-item a {
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 600;
    color: #fbfeff;
}
.drop-login .drop-item span {
    font-family: 'Poppins';
    font-size: 0.9rem; 
    font-weight: 400; 
    color: #fbfeff;
}
.drop-login.drop-login-open {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.login-child {
    text-align: center;
    background: #ff8d55;
}
/* Burger Bar */
.burger {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.burgerbar span {
    display: block;
    background: #fbfeff;
    height: 2.5px;
    width: 25px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.burgerbar {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fbfeff;
}
@media( max-width:768px) {
    .burgerbar {
        display: block;
    }
    .burgerbar.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burgerbar.active .bar:nth-child(1){
        -webkit-transform: translateY(6px) rotate(45deg);
            -ms-transform: translateY(6px) rotate(45deg);
                transform: translateY(6px) rotate(45deg);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;

    }
    .burgerbar.active .bar:nth-child(3){
        -webkit-transform: translateY(-9px) rotate(-45deg);
            -ms-transform: translateY(-9px) rotate(-45deg);
                transform: translateY(-9px) rotate(-45deg);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
}
/* Home */
.home-slide {
    min-height: 640px;
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    z-index: -1;
}
.slide-title {
    font-family: 'Protest Revolution';
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    font-size: 2.1rem;
    text-transform: uppercase;
}
.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}
.slide-title-span {
    font-family: 'Orbitron';
    font-size: 1.2rem;
    font-weight: 500;
    color: #ff4d55;
}
.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(16deg, 
    rgb(23, 27, 68, 80%) 50%,
    rgb(23, 27, 68, 14%)
    );
    background: linear-gradient(74deg, 
    rgb(23, 27, 68, 80%) 50%,
    rgb(23, 27, 68, 14%)
    );
    z-index: 200;
}
.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: #fbfeff !important;
    opacity: 1 !important;
} 
.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: #ff4d55 !important;
}
.home-text {
    z-index: 202;
}
.slide-title::after,
.faq-title::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 44px;
    height: 3px;
    background: #ff4d55;
}
.slide-description {
    max-width: 450px;
    font-size: 0.9rem;
    margin: 0.5rem 0 1rem;
    font-family: 'Rubik';
    line-height: 16px;
}
.btn {
    font-family: 'Poppins';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
     background: #ff4d55;
    padding: 10px 16px;
    color: #fbfeff;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn:hover {
    background: #f8646c;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
/* Services */
.title {
    font-family: 'Orbitron';
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.title::after {
    content: '';
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    bottom: -4px;
    width: 44px;
    height: 3px;
    background: #ff4d55;
}
.services-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr); 
    -ms-grid-columns: (1fr)[3]; 
    grid-template-columns: repeat(3, 1fr);
}
.services-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.services-content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.services-content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.services-content > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.services-content > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
.services-content > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}
.ser-box-title {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1.3rem 0 0.5rem;
}
.ser-box p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 20px;
}
.ser-box span {
    color: #ff4d55;
}
.ser-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 0.4rem;
    background: #1d2352;
    border-radius: 0.3rem;
    margin: 15px;
    padding: 15px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.ser-box:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.ser-box .bx {
    font-size: 1.7rem;
    padding: 10px;
    background: #ff4d55;
    border-radius: 0.3rem;
}
/* Games */
.games .title {
    max-width: 400px;
    width: 100%;
    margin: auto;
}
.games-content {
    padding-top: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2rem 1fr;
    grid-template-rows: repeat(2, 1fr); 
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr; 
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.games-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.games-content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.games-content > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.games-content > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.games-content > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.games-content > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}
.games-box {
    background: #1d2352;
    border-radius: 0.3rem;
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
 }
.game-text {
    padding: 15px;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.game-box-img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transform: scale(rem);
        -ms-transform: scale(rem);
            transform: scale(rem);
    border-radius: 0.4rem;
    -webkit-box-shadow: 5px 20px 15px 5px rgb(0, 0, 0, 80%);
            box-shadow: 5px 20px 15px 5px rgb(0, 0, 0, 80%);
}
.game-box-title {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Protest Revolution';
    padding-bottom: 1.4rem;
}
.game-price {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 2px 0;
    font-family: 'Rubik';
}
.game-info-text {
    line-height: 16px;
    font-size: 0.8rem;
    font-family: 'Poppins';
    margin-top: 15px;
    margin-bottom: 25px;
}
.game-btn {
    font-size: 1.2rem;
    font-family: 'Anta';
    color: #ff4d55;
}
.game-price span {
    color: #0bd2d4;
}
/* F.A.Q */
.faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
}
.faq-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 17rem;
            flex: 1 1 17rem;
}
.faq-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 17rem;
            flex: 1 1 17rem;
}
.faq-title {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Orbitron';
}
.faq-text p {
    font-size: 0.9rem;
    text-align: justify;
    margin: 2rem 0 1.5rem;
    font-family: 'Poppins';
}
.faq-accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2.5rem;
}
.accordion-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 17rem;
            flex: 1 1 17rem;
}
.accordion-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 17rem;
            flex: 1 1 17rem;
}
.accordion-text h2 {
    position: relative;
    font-size: 1.8rem;
    font-family: 'Orbitron';
    font-weight: 600;
    letter-spacing: 3px;

}
.accordion-text p {
    margin: 0.5rem 0 1.5rem;
    font-family: 'Poppins';
}
.accordion-container {
    display: -ms-grid;
    display: grid;
    gap: 1.5rem;
}
.accordion-item {
    border-radius: 0.25rem;
    background-color: #1d2352;
    padding: 10px;
}
.accordion-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}
.accordion-title {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Rubik';
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.accordion-icon {
    margin: 1rem 0 1rem;
    font-size: 1.3rem;
    color: #fbfeff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.accordion-answer {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: 1.5rem;
    margin-left: 0.5rem;
}
.accordion-content {
    border-radius: 0.25rem;
    background: #171b44;
    border-left: 4px solid #ff4d55;
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.accordion-open .accordion-icon {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.accordion-open .accordion-title {
    font-weight: 600;
}
/* Control Panel */
.control {
    background: #1d2352;
}
.control-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    background: #1d2352;
}
.control-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 17rem;
            flex: 1 1 17rem;
}
.control-title {
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Rubik';
}
.control-text p {
    font-size: 0.9rem;
    font-family: 'Poppins';
    margin: 1rem 0 0.8rem;
}
.control-text .bx {
    color: #ff4d55;
}
.spec-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 0.4rem;
       -moz-column-gap: 0.4rem;
            column-gap: 0.4rem;
    margin-bottom: 0.5rem;
}
.spec-box span {
    font-size: 0.9rem;
    font-family: 'Poppins';
    font-weight: 400;
}
.control-images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 17rem;
            flex: 1 1 17rem;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 24px !important;
    font-weight: 600;
    color: #fbfeff;
}
/* Footer */
.footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 4rem !important;
    padding-bottom: 20px;
}
.footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer-title {
    font-size: 1.2rem;
    color: #fbfeff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.4rem;
    font-family: 'Rubik';
}
.footer-box a {
    color: #d4d4d4;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Poppins';
    letter-spacing: 1px;
    margin-top: 0.5rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.footer-box a:hover {
    color: #f8646c;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.footer-box .footer-logo {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fbfeff;
    font-family: 'Anta';
}
.footer-logo span {
    color: #ff4d55;
}
.social {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
}
.social .bx {
    font-size: 24px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.social, .payments .bx:hover {
    color: #ff4d55;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.copyright {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #fbfeff;
}
.copyright p {
    font-size: 0.8rem;
    font-family: 'Poppins';
}
.payments .bx {
    font-size: 25px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
                                /* Prices Html */
   /* prices */
   .prices {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    color-stop(100%, rgb(23,27,68,87%)),
    to(rgb(23,27,68,87%))
    ), url(..//images/prices-home.jpg);
    background-image: -o-linear-gradient(
    rgb(23,27,68,87%) 100%,
    rgb(23,27,68,87%) 100%
    ), url(..//images/prices-home.jpg);
    background-image: linear-gradient(
    rgb(23,27,68,87%) 100%,
    rgb(23,27,68,87%) 100%
    ), url(..//images/prices-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }
   .prices-text {
    padding-top: 5rem;
    padding-bottom: 6rem;
    text-align: center;
   }
   .prices-head-text {
    font-family: 'Rubik';
    font-size: 1.3rem;
    font-weight: 600;
   }
   .prices-title {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Orbitron';
    letter-spacing: 3px;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
   }
   .prices-description {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    max-width: 800px;
    margin: auto;
    margin-bottom: 1.5rem;
   }
   .prices-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    margin-top: 2rem !important;
   }
   .price-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background: #1d2352;
    border-radius: 0.4rem;
    margin-bottom: 5rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
   }
   .price-item:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
   }
   .price-box-img {
     display: block;
     width: 100px;
     position: relative;
     margin-top: -64px;
     margin-left: auto;
     margin-right: auto;
   }
   .card-info p {
    margin-top: 0.8rem;
   }
   .price-item-title {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Rubik';
  }
  .card-info {
    font-size: 1rem;
    color: #d4d4d4;
    font-family: 'Poppins';
    margin: 1rem;
  }
  .price-info {
    width: 100%;
    padding: 8px 0;
    background: #ff4d55;
    margin-top: 0.7rem;
  }
  .price-info h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins';
  }
  .price-info span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
    font-family: 'Poppins';
  }
  .ram-info {
    font-size: 1,5rem;
    text-transform: uppercase;
    margin: 0.7rem 0 1rem;
    font-weight: 600;
    font-family: 'Orbitron';
    letter-spacing: 2px;
  }
  .ram-info span {
    font-size: 0.8rem;
    color: #d4d4d4;
    font-weight: 500;
  }
  .plan-btn {
    padding: 8px 24px;
    color: #fbfeff;
    text-transform: uppercase;
    font-weight: 500;
    background: #ff4d55;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    font-family: 'Poppins';
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  .plan-btn:hover {
    background: #f8646c;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  



  .container-cookies {
    width: 100%;
    margin: auto;
    height: 200px;
  }
  .subcontainer {
    width: 85%;
    margin: auto;
    padding-top: 90px;
  }
  #cookies {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fbfeff;
    background-color: rgba(39, 78, 104, 0.6);
    z-index: 767676;
    display: none;

  }
  .cookies {
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
  .cookies a {
    color: #ff4d55;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Poppins';
  }
  .cookies a:hover {
    text-decoration: underline;
    color: #f8646c;
  }
  .cookies p {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: poppins;
  }
  #cookie-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    font-size: 1rem;
    font-family: 'Poppins';
    cursor: pointer;
    border: none;
    background: #ff4d55;
    color: #fbfeff;
    margin: auto;
    margin-top: 10px;
  }
  /* scrol To Top */


  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-transition: background-color 0.3s, visibility 0.3s;
    -o-transition: background-color 0.3s, visibility 0.3s;
    transition: background-color 0.3s, visibility 0.3s;
    z-index: 1234567;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}

#scrollToTopBtn i {
    font-size: 24px;

}
/* Responsive */
@media (max-width:1024px) {
    .container {
        margin: 0 auto;
        width: 92%;
    }
}
@media (max-width:768px) {
    .nav {
        padding: 14px 0;
        width: 90%;
    }
    section {
        padding: 3rem 0 2rem;
    }
    .home-slide {
        min-height: 560px;
    }
    .games-content {
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr); 
        -ms-grid-columns: (1fr)[2]; 
        grid-template-columns: repeat(2, 1fr);
    }
    .games-content > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .games-content > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .games-content > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .games-content > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .services-content {
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr); 
        -ms-grid-columns: (1fr)[2]; 
        grid-template-columns: repeat(2, 1fr);
    }
    .services-content > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .services-content > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .services-content > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .services-content > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .game-box-img {
        height: 160px;
    }
    .prices-container {
        -ms-grid-columns: minmax(0, 1fr) 1.5rem minmax(0, 1fr);
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.5rem;
    }
    .prices-title {
        font-size: 2.8rem;
    }
    .burgerbar {
        z-index: 12345;
    }
     .navbar {
        position: absolute;
        top: 0%;
        right: -100%;
        width: 300px;
        height: 90vh;
        background-color: #1d2352;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 25px;
     } 
     .burgerbar.active {
        display: block;
     }
     .navbar.active {
        right: 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;

     }
     .nav-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
        margin-bottom: 2rem;
     }
     .login-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
     }
     .drop-login {
        left: 0 ;
        background: #171b44;
     }
     .nav-link {
        display: block;
        margin: 1rem 0;
     }
     .home-slide {
        min-height: 500px;
    }
    p {
        font-size: 0.8rem;
    }
    .slide-title {
        font-size: 1.7rem;
    }
    .slide-description,
    .ser-box p,
    .control-text p,
    .faq-text p {
        font-size: 0.8rem;
    }
    .accordion-header,
    .accordion-text h2,
    .control-title{
        font-size: 1.5rem;
    }
    .footer {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
    .social {
        margin: 0 auto;
        margin-top: 2rem;
    }
    .prices-text {
        padding-top: 3rem;
        padding-top: 1rem;
    }
}
@media (max-width:480px) {
    .prices-container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .footer {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin: auto;
        text-align: center;
    }
    .services-content,
    .games-content {
         -ms-grid-columns: 1fr;
         grid-template-columns: 1fr;
    }
    .social {
        margin: auto;
        margin-top: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 3rem;
           -moz-column-gap: 3rem;
                column-gap: 3rem;
    }
}